
-if @document
  
  - comments=@document.comments.list_updated(params[:comments_page])

  %h5= "#{comments.size} Comments"
  
  - comments.each do |comment|

    %hr
    %div{id:"comment_#{comment.id}"}
      = comment.content
    %p
      %small.muted.pull-right
        = comment.user.userid
        &nbsp;&nbsp;
        = comment.updated_at
        &nbsp;&nbsp;
        
        - if comment.user_id==session[:userid] or @current_user.admin

          = link_to '', edit_document_comment_path(@document,comment) , remote:true , class:"icon-edit", data:{ toggle:"tooltip" , placement:"top" , title:"#{t :edit}"}

          = link_to '', [@document,comment] , method:"delete" ,  class:"icon-remove", data:{ confirm: "#{t :delete_msg , data:''}", toggle:"tooltip" , placement:"top" , title:"#{t :delete}"}

  %br
  %br
  = paginate comments , remote:true , param_name:"comments_page"

:javascript
  $(function(){
    $(".icon-edit").tooltip();
    $(".icon-remove").tooltip();
  })
          