%h4= t :search_result , search_count:@documents.total_count

- if @documents.total_count==0
  %hr
  =t :no_result
-else

  %table.table.table-hover
    %tr{align:"center"}
      %th{width:"85%"}= t :title
      %th{width:"15%"} Date

    - @documents.each do |document|
      %tr
        %td
          %p
            %small.muted
              = document.category.name
          = link_to "#{document.title}", document , remote:true 

        %td= document.updated_at.strftime("%Y%m%d")

  = paginate @documents , remote:true

