
%li.nav-header
  ADMIN 
%li.divider

%li
  %a{id:"users_manage" , href:"#{users_url}", data:{remote:true}}
    = t :user_mng
%li
  %a{id:"categories_manage", href:"#{categories_path}", data:{remote:true}}
    = t :category_mng

%li
  %a{id:"documents_manage", href:"#{admin_list_path}", data:{remote:true}}
    = t :document_mng
    