= form_for @user , remote:true do |f|
  - if @user.errors.any?
    %ul
      - @user.errors.full_messages.each do |msg|
        %li.text-error= msg

  .field
    = f.label :userid
    = f.text_field :userid
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :admin
    = f.check_box :admin
  .field
    = f.label :password
    = f.text_field :password

  = f.submit "저장" , remote:true , class:"btn btn-primary btn-small"
  = link_to "목록" , users_path , remote:true , class:"btn btn-primary btn-small"
  
