%h4= t :user_list

%table.table.table-hover
  %thead
    %tr{align:"center"}
      %th{width:"5%"}
        %input#chk_all{type:"checkbox"}
      %th= t :userid
      %th.hidden-phone= t :email
      %th= t :admin
      %th= t :edit

  %tbody

  - @users.each do |user|
    %tr
      %td
        %input{id:"chk_user#{user.id}" ,type:"checkbox" , name:"user[#{user.id}]" , value:"#{user.id}"}
      %td
        = link_to "#{user.userid}", user , remote:true
      %td.hidden-phone= user.email
      %td= user.admin
      %td
        = link_to '', edit_user_path(user) , remote:true , class:"icon-edit", data:{ toggle:"tooltip" , placement:"top" , title:"#{t :edit}"}
        
        = link_to '', user, method:"delete", class:"icon-remove" , data: { confirm: "#{t :delete_msg , data: user.userid }" ,toggle:"tooltip" , placement:"right" , title:"#{t :delete}" }

.btn-group
  %a.btn.btn-primary.btn-mini{id:"add_new_user", href:"#{new_user_url}",data:{remote:true}}
    %i.icon-pencil.icon-white
    = t :add_user

= paginate @users , remote:true

%br
%br