%h4 사용자 리스트

%table.table.table-hover
  %thead
    %tr{align:"center"}
      %th 사용자ID
      %th.hidden-phone EMAIL
      %th 관리자
      %th 작업

  %tbody

  - @users.each do |user|
    %tr
      %td
        = link_to "#{user.userid}", user , remote:true
      %td.hidden-phone= user.email
      %td= user.admin
      %td
        = link_to '', edit_user_path(user) , remote:true , class:"icon-edit", data:{ toggle:"tooltip" , placement:"top" , title:"수정"}
        
        = link_to '', user, method:"delete", class:"icon-remove" , data: { confirm: "#{user.userid} 삭제 하시겠습니까?" ,toggle:"tooltip" , placement:"right" , title:"삭제" }

.btn-group
  %a.btn.btn-primary.btn-mini{id:"add_new_user", href:"#{new_user_url}",data:{remote:true}}
    %i.icon-pencil.icon-white
    사용자 추가

= paginate @users , remote:true

%br
%br

:javascript
  $(function(){
    $(".icon-play").tooltip();
    $(".icon-edit").tooltip();
    $(".icon-remove").tooltip();
  })