= form_for @document , remote:true do |f|
  - if @document.errors.any?
    %ul
      - @document.errors.full_messages.each do |msg|
        %li.text-error= msg

  = f.label "제목"
  = f.text_field :title , class:"input-xxlarge"
  = f.label "내용"
  %textarea#document-content.input-xxlarge{name:"document[content]", rows:"15"}
    = @document.content

  
  /
  / attach file time token
  /
  %input#time-token{type:"hidden" , name:"time-token" , value:"#{Time.now.to_i}"}

  /
  / already file exist info
  /

  -@document.attachfiles.each_with_index do |af,inx|
    %p
      = check_box_tag "attachfiles[file_#{inx}]", af.id
      = af.filename

  /application_controller
  %br
  %input#document-user_id{type:"hidden" , name:"document[user_id]" , value:@current_user.id}

  %br

  .btn-group.pull-left
    = f.submit "저장하기" , remote:true , class:"btn btn-primary btn-mini"
    = link_to "목록으로" , documents_path , remote:true , class:"btn btn-primary btn-mini"
    %button#fine-uploader-basic.btn.btn-primary.btn-mini 파일첨부


%br

#messages

%br
%br

=javascript_include_tag params[:controller]

:javascript
   $(function(){


    // web editor
    $('#document-content').wysiwyg({
    });


    var fub = $('#fine-uploader-basic');
    var messages = $('#messages');
 
    var uploader = new qq.FineUploaderBasic({
      button: fub[0],
      request: {
        endpoint: "/attachfile-upload"
      },
      // validation: {
      //   allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
      //   sizeLimit: 204800 // 200 kB = 200 * 1024 bytes
      // },
      callbacks: {
        onSubmit: function(id, fileName) {
          messages.append('<div id="file-' + id + '" class="alert" style="margin: 20px 0 0"></div>');
          uploader.setParams({

            authenticity_token: "#{form_authenticity_token.to_s}",
            time_token: $("#time-token").val() 

          });
        },
        onUpload: function(id, fileName) {
          $('#file-' + id).addClass('alert-info')
                          .html('#{image_tag 'loading.gif'}' +
                                'Initializing ' +
                                '“' + fileName + '”');
        },
        onProgress: function(id, fileName, loaded, total) {
          if (loaded < total) {
            progress = Math.round(loaded / total * 100) + '% of ' + Math.round(total / 1024) + ' kB';
            $('#file-' + id).removeClass('alert-info')
                            .html('#{image_tag 'loading.gif'}' +
                                  'Uploading ' +
                                  '“' + fileName + '” ' +
                                  progress);
          } else {
            $('#file-' + id).addClass('alert-info')
                            .html('#{image_tag 'loading.gif'}' +
                                  'Saving ' +
                                  '“' + fileName + '”');
          }
        },
        onComplete: function(id, fileName, responseJSON) {
          if (responseJSON.success) {
            $('#file-' + id).removeClass('alert-info')
                            .addClass('alert-success')
                            .html('<i class="icon-ok"></i> ' +
                                  'Successfully saved ' +
                                  '“' + fileName + '”' +
                                  '<br>');
          } else {
            $('#file-' + id).removeClass('alert-info')
                            .addClass('alert-error')
                            .html('<i class="icon-exclamation-sign"></i> ' +
                                  'Error with ' +
                                  '“' + fileName + '”: ' +
                                  responseJSON.text);
          }
        }
      }
    });


  });