%h3 Documents List

%table.table.table-hover
  %tr{align:"center"}
    %th{width:"55%"} 제목
    %th{width:"15%"} 작성
    %th{width:"15%"} 수정
    %th{width:"15%"} 작업

  - @documents.each do |document|
    %tr
      %td
        = link_to "#{document.title}", document , remote:true 
      %td= document.user.userid
      %td= document.updated_at.strftime("%Y%m%d")
      %td
        - if document.user.id==session[:userid]
        
          = link_to '', edit_document_path(document) , remote:true , class:"icon-edit", data:{ toggle:"tooltip" , placement:"top" , title:"수정"}
        
          = link_to '', document, method:"delete" , class:"icon-remove" , data: { confirm: "#{document.title} 삭제 하시겠습니까?" ,toggle:"tooltip" , placement:"right" , title:"삭제" }

= paginate @documents , remote:true

- if @current_user
  .btn-group
    %a.btn.btn-primary.btn-mini{href:"#{new_document_url}",data:{remote:true}}
      %i.icon-pencil.icon-white
      글쓰기
  /= link_to '글쓰기', new_document_path , remote:true , class:"btn btn-primary btn-small pull-left"

:javascript
  $(function(){
    $(".icon-edit").tooltip();
    $(".icon-remove").tooltip();
  })