%h4= @category.name

%table.table.table-hover
  %thead
    %tr
      %th{width:"50%"}= t :title
      %th.hidden-phone{width:"15%"}= t :author
      %th{width:"5%"} Comments
      %th.hidden-phone{width:"20%"}= t :updated_at
      %th.hidden-phone{width:"10%"}= t :action

  %tbody

  - @documents.each do |document|
    %tr
      %td
        = link_to "#{document.title}", document , remote:true 
      %td.hidden-phone= document.user.userid
      %td{align:"right"}= document.comments_count
      %td.hidden-phone= l document.updated_at.localtime ,{format: :short}
      %td.hidden-phone
        - if document.user.id==session[:userid] or @current_user.admin
        
          = link_to '', edit_document_path(document) , remote:true , class:"icon-edit", data:{ toggle:"tooltip" , placement:"top" , title:"#{t :edit}"}
        
          = link_to '', document, method:"delete" , class:"icon-remove" , data: { confirm: "#{document.title} 삭제 하시겠습니까?" ,toggle:"tooltip" , placement:"top" , title:"#{t :delete}" }

= paginate @documents , remote:true

- if @current_user
  .btn-group
    %a.btn.btn-primary.btn-mini{id:"new_document" , href:"#{new_document_url(params:{category_id:@category.id})}",data:{remote:true}}
      %i.icon-pencil.icon-white
      =t :new_document

%br
%br

:javascript
  $(function(){
    $(".icon-edit").tooltip();
    $(".icon-remove").tooltip();
  })