%h3 Documents List

%table.table.table-condensed.table-hover
  %tr{align:"center"}
    %th 제목
    %th 작성자
    %th 수정일
    %th

  - @documents.each do |document|
    %tr
      %td= document.title
      %td= document.user_id
      %td= document.updated_at.strftime("%Y%m%d")
      %td
        = link_to '', document , remote:true , class:"icon-play" , alt:"보기"
        = link_to '', edit_document_path(document) , remote:true , class:"icon-edit"
        = link_to '', document, method: :delete, data: { confirm: "#{document.title} 삭제 하시겠습니까?" } , class:"icon-remove"

.navigation
  = paginate @documents , remote:true

= link_to 'New Document', new_document_path , remote:true
