%p#notice= notice

%h6= @document.category.name

%h4
  = @document.title

%small.muted.pull-left
  = @document.user.userid
  = @document.updated_at

=# bootstrap popover 이용 - data-content에서 html을 사용하기 위해 아래와 같이 한다.
=# $('#file-lists').popover({ html : true });
- if @document.attachfiles.size > 0
  -file_str=[]
  -download_path="#{Rails.root}#{ENV['UPLOAD_PATH']}"
  -@document.attachfiles.each do |attachfile|
    -file_url=File.join(download_path,@document.id.to_s,attachfile.id.to_s)
    
    - file_str << link_to("#{attachfile.filename}", action:'attachfile_download', params:{id:@document.id, attachfile_id:attachfile.id})
  %br
  %a#file-lists.btn.btn-info.btn-mini.pull-right{href:"#", data:{toggle:"popover", placement:"bottom" , content:"<p>#{file_str.join('</p><p>')}</p>" , title:"파일목록"}}
    첨부파일

%br
%hr
- if @document.user.id==session[:userid] or @current_user.admin
  .btn-group
    %a.btn.btn-primary.btn-mini{href:"#{edit_document_url(@document)}",data:{remote:true}}
      %i.icon-edit.icon-white
      수정

.btn-group
  %a.btn.btn-primary.btn-mini{href:"#{documents_url}",data:{remote:true}}
    %i.icon-list.icon-white
    목록

%h5
  = @document.content.html_safe
%hr

%br

/- if @document.user.id==session[:userid]
/  = link_to '수정', edit_document_path(@document) , remote:true , class:"btn btn-primary btn-mini"
/= link_to '목록', documents_path , remote:true , class:"btn btn-primary btn-mini"
- if @document.user.id==session[:userid] or @current_user.admin
  .btn-group
    %a.btn.btn-primary.btn-mini{href:"#{edit_document_url(@document)}",data:{remote:true}}
      %i.icon-edit.icon-white
      수정

.btn-group
  %a.btn.btn-primary.btn-mini{href:"#{documents_url}",data:{remote:true}}
    %i.icon-list.icon-white
    목록


=# Comment 추가 폼 

= form_for [@document, Comment.new], remote:true  do |f|

  /@current_user -> application_controller
  %br
  %input{type:"hidden" , name:"comment[user_id]" , value:@current_user.id}
  %input{type:"hidden" , name:"comment[version]" , value:"0"}

  .input-append
    %input#comment.span6{type:"text", name:"comment[content]" , placeholder:"Comment ... "}
    %button.btn{type:"submit"} 저장



=# Comment list

%div#comment-lists
  = render partial:"comments/comments"
  
%br
%br

:javascript
  $(function(){
    $('#file-lists').popover({ html : true });
  });