%p#notice= notice

%h4
  = @document.title
%p.pull-right.icon-file

%br
%hr

%h5
  = @document.content.html_safe
%hr

- if @document.attachfiles.length > 0

  %b 첨부파일
  -@document.attachfiles.each do |file|
    %br= file.filename

= link_to '수정', edit_document_path(@document) , remote:true , class:"btn btn-primary btn-mini"
= link_to '목록', documents_path , remote:true , class:"btn btn-primary btn-mini"


= form_for [@document, Comment.new], remote:true  do |f|

  / 
  / TODO  ::
  /
  %br
  -@user=User.first
  %input{type:"hidden" , name:"comment[user_id]" , value:@user.id}
  %input{type:"hidden" , name:"comment[version]" , value:"0"}


  %input.input-xxlarge{name:"comment[content]" , placeholder:"Comment ... "}
  = f.submit "저장" , remote:true , class:"btn btn-primary btn-mini"


%div#comment-lists
  =render partial:"comments/comments"
  
