%h6= @document.category.name

%h4
  = @document.title

%small.muted.pull-left
  = @document.user.userid
%small.muted.pull-right
  = l @document.updated_at.localtime ,{format: :default}

%br
%br
=# bootstrap popover 이용 - data-content에서 html을 사용하기 위해 아래와 같이 한다.
=# $('#file-lists').popover({ html : true });
- if @document.attachfiles.size > 0
  -file_str=[]
  -download_path="#{Rails.root}#{ENV['UPLOAD_PATH']}"
  -@document.attachfiles.each do |attachfile|
    -file_url=File.join(download_path,@document.id.to_s,attachfile.id.to_s)
    
    - file_str << link_to("#{attachfile.filename}", action:'attachfile_download', params:{id:@document.id, attachfile_id:attachfile.id})

  %a#file-lists.btn.btn-info.btn-mini.pull-right{href:"javascript:", data:{toggle:"popover", placement:"bottom" , content:"<p>#{file_str.join('</p><p>')}</p>" , title:"파일목록"}}
    =t :file


%br
%hr

.modal-body
  = @document.content.html_safe
%hr

%br

:javascript
  $(function(){
    $('#file-lists').popover({ html : true });
  });