%h4= t :category_list

%table.table.table-hover
  %thead
    %tr{align:"center"}
      %th{width:"5%"}
        %input#chk_all{type:"checkbox"}
      %th= t :name
      %th= t :doc_count
      %th.hidden-phone= t :desc
      %th= t :edit

  %tbody

  - @categories.each do |category|
    %tr
      %td
        %input{id:"chk_category#{category.id}" ,type:"checkbox" , name:"category[#{category.id}]" , value:"#{category.id}"}
      %td
        = link_to "#{category.name}", category , remote:true
      %td= category.documents_count
      %td.hidden-phone= category.description
      %td
        = link_to '', edit_category_path(category) , remote:true , class:"icon-edit", data:{ toggle:"tooltip" , placement:"top" , title:"#{t :edit}"}
        
        = link_to '', category, method:"delete", class:"icon-remove" , data: { confirm: "#{t :delete_msg , data: category.name }" ,toggle:"tooltip" , placement:"right" , title:"#{t :delete}" }

.btn-group
  %a.btn.btn-primary.btn-mini{href:"#{new_category_url}",data:{remote:true}}
    %i.icon-pencil.icon-white
    = t :add_category

= paginate @categories , remote:true

%br
%br