%p#notice= notice

%p
  %b NAME:
  = @category.name
%p
  %b DESC:
  = @category.description


%hr
.btn-group
  - if @current_user.id==session[:userid] or @current_user.admin
    %a.btn.btn-primary.btn-mini{href:"#{edit_category_url(@category)}" , data:{remote:true}}
      %i.icon-edit.icon-white
      수정

  - if @current_user.admin
    %a.btn.btn-primary.btn-mini{href:"#{categories_url}",data:{remote:true}}
      %i.icon-list.icon-white
      목록
