!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "RCMS"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application" , :media => "all"
    
    = javascript_include_tag "application"

    = csrf_meta_tags
    = yield(:head)

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container

          %button.btn.btn-navbar{ type:"button" , data:{toggle:"collapse", target:"#sidebar"} }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          = link_to "RCMS", users_path , class:"brand"

          = form_tag search_url(type:"all") , remote:true , class:"navbar-search pull-right" do
            %input.search-query.pull-right#query{type:"text" , name:"query" , placeholder:"Search ..."}

    .container

      .row
        #sidebar.span2.nav-collapse

          .btn-group
            
            %a.btn.btn-primary.btn-mini{href:"#"}
              %i.icon-user.icon-white
              USER
            
            %a.btn.btn-primary.btn-mini.dropdown-toggle{href:"#", data:{toggle:"dropdown"}}
              %span.caret
            
            %ul.dropdown-menu

              %li
                - unless @current_user
                  %a{href:"#{new_session_path(params:{cmd:'login'})}"}
                    LOGIN
                - else
                  %a{href:"#{new_session_path(params:{cmd:'logout'})}"}
                    LOGOUT

              %li
                - if @current_user
                  %a{href:"#"}
                    정보수정

          %br
          %br

          %ul.nav.nav-list
            - if @current_user
              = render "admin/sidebar"
              = render "categories/sidebar"
          
        #space.span1

        #rcms-main.span9
          = yield
