!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "RCMS"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application" , :media => "all"
    
    = javascript_include_tag "application"

    = csrf_meta_tags
    = yield(:head)

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{ type:"button" , data:{toggle:"collapse", target:"#topmenu"} }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %button.btn.btn-navbar{ type:"button" , data:{toggle:"collapse", target:"#sidebar"} }
            %span.icon-bar
            %span.icon-bar

          = link_to "RCMS", users_path , class:"brand"

          #topmenu.nav-collapse
            %ul.nav
              
              %li
                .input-append  
                  %input.span2{type:"text", placeholder:"search..."}
                  %span.add-on
                    %i.icon-search
              
          - unless @current_user
            %h6.pull-right= link_to "LOGIN", new_session_path(cmd:"login"), class:"btn btn-primary btn-mini"
          - else
            %h6.pull-right= link_to "LOGOUT", new_session_path(cmd:"logout"), class:"btn btn-primary btn-mini"
            /%a.icon-user.icon-white{href:"#"}


    .container

      .row
        #sidebar.span2.nav-collapse
          = render "admin/sidebar"

        #rcms-main.span9
          = yield
