!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "RCMS"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application" , :media => "all"
    
    = javascript_include_tag "application"

    = csrf_meta_tags
    = yield(:head)

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{ type:"button" , data:{toggle:"collapse", target:"#sidebar"} }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          = link_to "RCMS", documents_path , class:"brand"

          %span
            = image_tag('loading-thumb.gif' , id:"icon-loading" , size:"25x25" , style:"margin-top: 10px;display:none;")
          /%img{id:"icon-loading" , width:"15", height:"15" , style:"margin-top:5px;", src:"#{iamge_url('icon-thumb.gif')}"}

          /phone 에서는 안보인다.
          = form_tag search_url(type:"all") , remote:true , class:"navbar-search pull-right hidden-phone" do
            %input.input-medium.search-query.pull-right#query{type:"text" , name:"query" , placeholder:"Search ..."}
          / phone에서만 보인다.
          = form_tag search_url(type:"all") , remote:true , class:"navbar-search pull-right visible-phone" do
            %input.input-small.search-query.pull-right#query{type:"text" , name:"query" , placeholder:"Search ..."}

    .container

      .row
        #sidebar.span3.nav-collapse

          .btn-group
            
            %a.btn.btn-primary.btn-mini{href:"#"}
              %i.icon-user.icon-white
              USER
            
            %a.btn.btn-primary.btn-mini.dropdown-toggle{href:"#", data:{toggle:"dropdown"}}
              %span.caret
            
            %ul.dropdown-menu

              %li
                - if @current_user
                  %ul.nav.nav-list
                    %li.nav-header= @current_user.userid
                    %li.divider
                    %li
                      %a{href:"#{edit_user_url(@current_user)}"}
                        정보수정
                    %li
                      %a{href:"#{new_session_path(params:{cmd:'logout'})}"}
                        LOGOUT
                - else
                  %a{href:"#{new_session_path(params:{cmd:'login'})}"}
                    LOGIN

          %br
          %br

          %ul.nav.nav-list
            - if @current_user
              - if @current_user.admin
                = render "admin/sidebar"
              = render "categories/sidebar"
          
        #space.span1

        #rcms-main.span9
          = yield
