!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "RCMS"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{ type:"button" , data:{toggle:"collapse", target:"#topmenu"} }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %button.btn.btn-navbar{ type:"button" , data:{toggle:"collapse", target:"#sidebar"} }
            %span.icon-bar
            %span.icon-bar

          = link_to "RCMS", users_path , class:"brand"

          #topmenu.nav-collapse
            %ul.nav
              %li
                %a{href:"#"} Home1
              %li
                %a{href:"#"} Home2
              %li
                %a{href:"#"} Home3
              %li
                %a{href:"#"} Home4
              %li  
                %a{href:"#"} Home5
              %li  
                %a{href:"#"} Home6

    .container

      .row
        #sidebar.span2.nav-collapse
          = render "admin/sidebar"

        #rcms-main.span9
          = yield
